<configuration>
    <property name="PID" value="${PID:-${PID:UNKNOWN}}" />

    <appender name="FLUENT_BIT" class="dev.nodeninja.simflightstracker.config.FluentBitHttpAppender" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %property{PID} --- [%15.15thread] %-40.40logger{39} : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Async wrapper -->
    <appender name="ASYNC_FLUENT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FLUENT_BIT" />
        <queueSize>5000</queueSize> <!-- Optional -->
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC_FLUENT" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>